body {
    font-family: Bondi Egyptian, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
}

#transcript span {
    padding: 2px;
    cursor: pointer;
}

#transcript .highlight {
    background-color: rgb(203, 109, 221);
}
